@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.location {
		/* background-color: theme('colors.white'); */
		/* border-radius: theme('borderRadius.lg'); */
		/* padding: theme('spacing.6'); */
		/* border-radius: theme('borderRadius.sm'); */
		/* border-color: theme('borderColor.white'); */
		border-width: theme('borderWidth.2');
		padding: theme('padding.4');
		width: theme('width.11/12');
		margin-left: theme('margin.auto');
		margin-right: theme('margin.auto');
		/* box-shadow: theme('boxShadow.xl'); */
	}
}
